.block-movember-mosaic-mosaic-links .min-block {
  color: #fff;
  background: url("../../movember/images/brown_bg.jpg");
}

.block-movember-mosaic-mosaic-links .item-list ul {
  margin: -20px -20px 0;
  padding: 20px 0 0 20px;
}

.block-movember-mosaic-mosaic-links .item-list ul li {
  float: left;
  margin: 0;
  padding: 0 20px 20px 0
}

.block-movember-mosaic-mosaic-links .item-list ul li a {
  display: block;
  width: 124px;
  height: 124px
  background: #000;
}

.block-movember-mosaic-mosaic-links .item-list ul li img {
  display: block; 
  width: 124px;
  height: 124px;
  opacity: 0.5;
}

.block-movember-mosaic-mosaic-links .item-list ul li a.active img {
  width: 118px;
  height: 118px;
  opacity: 1;
  border: 3px solid #50B3D0;
}

#thumbs {
  width: 630px;
  overflow: hidden;
  line-height: 14px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center top;
}

#thumbs .thumb {
  float: left;
  width: 14px;
  height: 14px;
}

#thumbs .thumb img {
  width:  14px;
  height: 14px;
  opacity: 0.75;
}

#thumbs .thumb img.large {
  position: absolute;
  opacity: 1;
  z-index: 100;
  width:  210px;
  height: 210px;
  margin-left: -105px;
  margin-top: -105px;
  border: solid 1px #ccc;
  padding: 2px;
  background-color: #fff;
}

@media all and (min-width: 740px) and (max-width: 1220px) {
  .block-movember-mosaic-mosaic-links .item-list ul li a,
  .block-movember-mosaic-mosaic-links .item-list ul li img {
    width: 84px;
    height: 84px;
  }
  
  .block-movember-mosaic-mosaic-links .item-list ul li a.active img {
    width: 78px;
    height: 78px;
  }

  #thumbs {
    width: 462px;
  }
  
  #thumbs .item-1, #thumbs .item-2, #thumbs .item-3, #thumbs .item-4, #thumbs .item-5, #thumbs .item-6,
  #thumbs .item-40, #thumbs .item-41, #thumbs .item-42, #thumbs .item-43, #thumbs .item-44, #thumbs .item-45 {
    display: none;
  }
}